<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid mt-5">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Danh sách các món ăn </div>
                <div class="card-body">
                    <div class="table-responsive">
                    </div>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th style="text-align: center">Ảnh món ăn</th>
                        <th hidden style="text-align: center">Mã sản phẩm</th>
                        <th style="text-align: center">Tên món ăn</th>
                        <th style="text-align: center">Tên cửa hàng</th>
                        <th style="text-align: center">Địa chỉ cửa hàng</th>
                        <th style="text-align: center">Giờ mở của</th>
                        <th style="text-align: center">Giờ đóng của</th>
                        <th style="text-align: center">Thích</th>
                        <th style="text-align: center">Không thích</th>
                        <th style="text-align: center">Xóa</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th style="text-align: center">Ảnh món ăn</th>
                        <th hidden style="text-align: center">Mã sản phẩm</th>
                        <th style="text-align: center">Tên món ăn</th>
                        <th style="text-align: center">Tên cửa hàng</th>
                        <th style="text-align: center">Địa chỉ cửa hàng</th>
                        <th style="text-align: center">Giờ mở cửa</th>
                        <th style="text-align: center">Giờ đóng cửa</th>
                        <th style="text-align: center">Thích</th>
                        <th style="text-align: center">Không thích</th>
                        <th style="text-align: center">Xóa</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {{#each listVote as |item i|}}
                        <tr>
                            <td style="width:100px; height: 100px ">
                                <img style="object-fit: cover;" src="{{this.nameImage}}" height=100 width=150></td>
                            <td hidden>
                                <div style="width:auto;text-align: center;height: auto;padding-top: 30px"
                                     class="overflow-hidden">{{this._id}}</div>
                            </td>
                            <td>
                                <div style="width:auto;text-align: center;height: auto;padding-top: 30px">
                                    {{this.tenMonAn}}</div>
                            </td>
                            <td>
                                <div style="width:auto;text-align: center;height: auto;padding-top: 30px">
                                    {{this.tenCuaHang}}</div>
                            </td>
                            <td>
                                <div style=";width:auto;text-align: center;height: auto;padding-top: 30px">
                                    {{this.tenDuong}}, {{this.xaPhuong}}, {{this.quanHuyen}}, {{this.thanhPho}}</div>
                            </td>
                            <td>
                                <div style="width:auto;text-align: center;height: auto;padding-top: 30px">
                                    {{this.gioMoCua}}</div>
                            </td>
                            <td>
                                <div style="width:auto;text-align: center;height: auto;padding-top: 30px">
                                    {{this.gioDongCua}}</div>
                            </td>
                            <td>
                                <div style="width:auto;text-align: center;height: auto;padding-top: 30px">
                                    {{this.like}} Lượt</div>
                            </td>
                            <td>
                                <div style="width:auto;text-align: center;height: auto;padding-top: 30px">
                                    {{this.dislike}} Lượt</div>
                            </td>

                            <td>
                                <div style="text-align: center;padding-top: 25%;height: auto">
                                    <button type="button" class="btn btn-primary btn-danger" data-toggle="modal"
                                            data-target="#modelDelete{{i}}">
                                        Xóa
                                    </button>

                                    <!-- Modal -->
                                    <form method="get" action="/Vote/delete/{{this._id}}">
                                        <div class="modal fade" id="modelDelete{{i}}" tabindex="-1"
                                             role="dialog" aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Bạn có đồng ý xóa {{this.tenMonAn}} ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-dark"
                                                                data-dismiss="modal">Đóng
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-primary btn-danger">Xóa
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

                </div>
            </div>
        </div>
    </main>
</div>
</div>
