<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid mt-5">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Danh sách các món ăn </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th style="text-align: center">Ảnh món ăn</th>
                                <th hidden style="text-align: center">Mã sản phẩm</th>
                                <th style="text-align: center">Tên món ăn</th>
                                <th style="text-align: center">Tên cửa hàng</th>
                                <th style="text-align: center">Địa chỉ cửa hàng</th>
                                <th style="text-align: center">Gio Mo Cua</th>
                                <th style="text-align: center">Ban Co Thich</th>
                                <th style="text-align: center">Xóa</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th style="text-align: center">Ảnh món ăn</th>
                                <th hidden style="text-align: center">Mã sản phẩm</th>
                                <th style="text-align: center">Tên món ăn</th>
                                <th style="text-align: center">Tên cửa hàng</th>
                                <th style="text-align: center">Địa chỉ cửa hàng</th>
                                <th style="text-align: center">Gio Mo Cua</th>
                                <th style="text-align: center">Ban Co Thich</th>
                                <th style="text-align: center">Xóa</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {{#each listVote as |item i|}}
                                <tr>
                                    <td style="width:150px; height: 100px "><img style="object-fit: cover;"
                                                                                 src="{{this.nameImage}}" height=100 width=150></td>
                                    <td hidden>
                                        <div style="width:100px;text-align: center;height: 100px"
                                             class="overflow-hidden">{{this._id}}</div>
                                    </td>
                                    <td>
                                        <div style="width:100px;text-align: center;height: 100px">
                                            {{this.tenMonAn}}</div>
                                    </td>
                                    <td>
                                        <div style="width:100px;text-align: center;height: 100px">
                                            {{this.tenCuahang}}</div>
                                    </td>
                                    <td>
                                        <div style="width:100px;text-align: center;height: 100px">
                                            {{this.diaChi}}</div>
                                    </td>
                                    <td>
                                        <div style="width:100px;text-align: center;height: 100px">
                                            {{this.gioMoCua}}</div>
                                    </td>
                                    <td>
                                        <div style="width:50px;text-align: center;height: 100px">
                                            {{this.like}}</div>
                                    </td>
                                    <td>
                                        <div style="text-align: center;padding-top: 15%;height: 100px">
                                            <div class="modal fade" id="modalUpdate{{i}}" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Chỉnh
                                                                sửa</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" action="/vote/update/"
                                                                  enctype="multipart/form-data">
                                                                <label for="exampleInputEmail1"
                                                                       class="w-full text-left">Tên món ăn</label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                           id="exampleInputEmail1"
                                                                           aria-describedby="emailHelp"
                                                                           name="tenmonanVoteUpdate" value="{{this.tenMonAn}}">
                                                                </div>
                                                                <label for="exampleInputEmail1"
                                                                       class="w-full text-left">Tên cửa hàng</label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                           id="exampleInputEmail1"
                                                                           aria-describedby="emailHelp"
                                                                           name="tenshopVoteUpdate"
                                                                           value="{{this.tenShop}}">
                                                                </div>
                                                                <label for="exampleInputEmail1"
                                                                       class="w-full text-left">Địa chỉ cửa hàng</label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                           id="exampleInputEmail1"
                                                                           aria-describedby="emailHelp"
                                                                           name="diachiVoteUpdate" value="{{this.diaChi}}">
                                                                </div>
                                                                <div class="form-group" hidden>
                                                                    <input type="text" class="form-control"
                                                                           id="exampleInputEmail1"
                                                                           aria-describedby="emailHelp"
                                                                           value="{{this._id}}" name="id"
                                                                           value="{{this.tenMonAn}}">
                                                                </div>
                                                                <label for="exampleInputEmail1"
                                                                       class="w-full text-left">Giờ</label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                           id="exampleInputPassword1"
                                                                           name="timeVoteUpdate"
                                                                           value="{{this.gioMoCua}}">
                                                                </div>
                                                                <label for="exampleInputEmail1"
                                                                       class="w-full text-left">banCoThich</label>
                                                                <div class="form-group">
                                                                    <input type="number" class="form-control"
                                                                           id="exampleInputPassword1"
                                                                           name="likeVoteUpdate"
                                                                           value="{{this.like}}">
                                                                </div>

                                                                <div class="w-full">
                                                                    <div
                                                                            class="btn btn-outline-success btn-rounded waves-effect btn-sm float-left w-full text-left">
                                                                        <span>Chọn ảnh</span>
                                                                        <input type="file" name="selectFile">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Đóng
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">Chỉnh
                                                                        sửa
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="text-align: center;padding-top: 25%;height: 100px">
                                            <button type="button" class="btn btn-primary btn-danger" data-toggle="modal"
                                                    data-target="#modelDelete{{i}}">
                                                Xóa
                                            </button>

                                            <!-- Modal -->
                                            <form method="get" action="/Vote/delete/{{this._id}}">
                                                <div class="modal fade" id="modelDelete{{i}}" tabindex="-1"
                                                     role="dialog" aria-labelledby="exampleModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Bạn có đồng ý xóa {{this.tenMonAn}} ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-dark"
                                                                        data-dismiss="modal">Đóng
                                                                </button>
                                                                <button type="submit"
                                                                        class="btn btn-primary btn-danger">Xóa
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>
