<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Tên cửa hàng</th>
            <th>Ngày tạo</th>
            <th>Trạng thái hoạt động</th>
            <th>Chi tiết</th>
        </tr>
        </thead>
        <tbody>
        {{#each listOrder as |item i|}}
            <tr>
                <td>{{i}}</td>
                <td>{{item.userNameCustomer}}</td>
                <td>{{item.dateCreated}}</td>
                {{#if item.status}}
                    <td class="text-success">Đang hoạt động</td>
                {{else}}
                    <td class="text-danger">Dùng hoạt động</td>
                {{/if}}
                <td>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalUpdate{{i}}" data-whatever="@mdo">Chi tiết
                        </button>
                        <div class="modal fade" id="modalUpdate{{i}}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="width: 150%">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Đơn hàng</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="get" action="/order/update/{{item._id}}">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Ảnh</th>
                                                    <th>Số lượng</th>
                                                    <th>Hãng</th>
                                                    <th>Size</th>
                                                </tr>
                                                </thead>
                                                {{#each item.listProduct as |itemProduct i|}}
                                                    <tr>
                                                        <td>{{i}}</td>
                                                        <td> {{itemProduct.nameProduct}}</td>
                                                        <td style="width:150px; height: 100px ">
                                                            <img style="object-fit: cover;"
                                                                 src="{{itemProduct.urlProduct}}"
                                                                 height=100 width=150>
                                                        </td>
                                                        <td>{{itemProduct.amount}}</td>
                                                        <td>{{itemProduct.brand}}</td>
                                                        <td>{{itemProduct.size}}</td>
                                                    </tr>
                                                {{/each}}
                                            </table>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Đóng
                                                </button>

                                                {{#if item.status}}
                                                {{else}}
                                                    <button type="submit" class="btn btn-primary">Xác nhận
                                                    </button>
                                                {{/if}}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</div>